# Server Configuration
PORT=5000

# MongoDB Connection String (Replace with your Atlas URL)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/meme-generator?retryWrites=true&w=majority

# JWT Token Secret (Change this!)
JWT_SECRET=supersecret_dev_key

# Optional: Frontend URL for CORS (e.g. https://your-app.vercel.app). 
# Leave blank or strictly map to 'http://localhost:5173' for dev
FRONTEND_URL=
NODE_ENV=development
